<h1>Hi <%= session[:name] %> you are in the secret page!</h1>

<%= form_tag ({controller: 'sessions',
    action: 'destroy',
    method: 'post'}) do %>
    <input type=submit value='logout'>
<% end %>